@model CapstoneProject.Models.Project

    <h4>Project</h4>
    <hr />
    <div class="row">
        <div class="col-6">
            <div>
                <div class="grass-image">
                    <img style="width: 80%;" src="" runat="server" />
                </div>
                <div class="grass-cost">
                    <p>Starting at</p>
                    <h3><span>$</span>@Model.Grass.Cost</h3>
                    <p>per square foot</p>
                </div>
                <div class="grass-title">
                    <h3>@Model.Grass.Name</h3>
                </div>
                <div class="grass-info">
                    <p>@Model.Grass.Info</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StreetAddress" class="control-label"></label>
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CityAddress" class="control-label"></label>
                    <input asp-for="CityAddress" class="form-control" />
                    <span asp-validation-for="CityAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StateAddress" class="control-label"></label>
                    <input asp-for="StateAddress" class="form-control" />
                    <span asp-validation-for="StateAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ZipAddress" class="control-label"></label>
                    <input asp-for="ZipAddress" class="form-control" />
                    <span asp-validation-for="ZipAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
