@model CapstoneProject.Models.Project

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SquareFootage" class="control-label">Square Footage</label>
                <input asp-for="SquareFootage" class="form-control" />
                <span asp-validation-for="SquareFootage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsProjectAreaCleared" class="control-label">Is Project Area Cleared?  Check for YES</label>
                <input asp-for="IsProjectAreaCleared" class="form-control" />
                <span asp-validation-for="IsProjectAreaCleared" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="GrassID" class="form-control">
                    <option value="">Select a Grass</option>
                    <option value="1">Tall Fescue</option>
                    <option value="2">Bermuda</option>
                    <option value="3">Kentucky Bluegrass</option>
                </select>
                <label asp-for="GrassID" class="control-label">Grass</label>
                <span asp-validation-for="GrassID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label">Street</label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityAddress" class="control-label">City</label>
                <input asp-for="CityAddress" class="form-control" />
                <span asp-validation-for="CityAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateAddress" class="control-label">State</label>
                <input asp-for="StateAddress" class="form-control" />
                <span asp-validation-for="StateAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipAddress" class="control-label">Zip</label>
                <input asp-for="ZipAddress" class="form-control" />
                <span asp-validation-for="ZipAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
