@model CapstoneProject.Models.Project

<h2>Project</h2>
<hr />
<div class="row">

    <div class="col-6">
        <form asp-action="SalespersonCreate" asp-route-id="@Model">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="CustID" class="form-control">
                    <option value="">Select a Customer</option>
                    @foreach (Customer customer in ViewBag.Customers)
                    {
                        <option value=@customer.id>@customer.FirstName @customer.LastName</option>
                    }
                </select>
                <label asp-for="CustID" class="control-label">Customer</label>
                <span asp-validation-for="CustID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="GrassID" class="form-control">
                    <option value="">Select a Grass</option>
                    <option value="1">Tall Fescue</option>
                    <option value="2">Bermuda</option>
                    <option value="3">Kentucky Bluegrass</option>
                </select>
                <label asp-for="GrassID" class="control-label">Grass</label>
                <span asp-validation-for="GrassID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SquareFootage" class="control-label">Square Footage</label>
                <input asp-for="SquareFootage" class="form-control" />
                <span asp-validation-for="SquareFootage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityAddress" class="control-label"></label>
                <input asp-for="CityAddress" class="form-control" />
                <span asp-validation-for="CityAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateAddress" class="control-label"></label>
                <input asp-for="StateAddress" class="form-control" />
                <span asp-validation-for="StateAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipAddress" class="control-label"></label>
                <input asp-for="ZipAddress" class="form-control" />
                <span asp-validation-for="ZipAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
