@model CapstoneProject.Models.Salesperson

@{
    ViewData["Title"] = "CreateAppointments";
}
<h4>Select A Day</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="data-row">
            <p>
                Your currently have @Model.Appointments.Count().ToString() appointments booked through @ViewBag.LastAppointment.ToString("dddd, MMMM d, yyyy")
            </p>
        </div>
        <form asp-action="CreateAppointments" asp-route-id="@Model">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewAppointment" class="control-label"></label>
                <input asp-for="NewAppointment" asp-format="{MM/dd/yyyy}" class="form-control" />
                <span asp-validation-for="NewAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="id" value="@Model.id"class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
